<footer class="pin-bottom">
  <div class="flex-expand"></div>
  <div class="center nowrap pos-relative z-idx-low pull-down">
    <!-- Gophers are courtesy of https://gopherize.me -->
    <a href="https://github.com/jasonkeene">
      <img class="mrm" src="/gopher-jason-small.png" alt="Gopher" title="@jasonkeene">
    </a>
    <a href="https://github.com/enocom">
      <img src="/gopher-eno-small.png" alt="Gopher" title="@enocom">
    </a>
  </div>

  <div class="status-bar pos-relative z-idx-high"></div>
</footer>
</body>
</html>
