{{ partial "header.html" . }}
<section>
  <pre class="mls">
    <code>
<span class="code-comment">// Go Build It!</span>
<span class="code-comment">// Screencasts on Building from Scratch in <a class="code-comment-link" href="https://golang.org/">Go</a></span>
<span class="code-comment">// By <a class="code-comment-link" href="https://github.com/jasonkeene" title="GitHub">@jasonkeene</a> and <a class="code-comment-link" href="https://github.com/enocom" title="GitHub">@enocom</a>.</span>
<span class="code-keyword">package</span> main

<span class="code-keyword">import</span> <span class="code-string">"fmt"</span>

<span class="code-keyword">func</span> main() {
    fmt.Println(<span class="code-string">"Go Build It! Episodes"</span>)
    fmt.Println(<span class="code-string">"<a href="https://www.youtube.com/watch?v=96_SGldadCY" class="code-string-link">Introduction</a>"</span>)
    fmt.Println(<span class="code-string">"<a href="https://www.youtube.com/watch?v=egIK1ANtErI" class="code-string-link">03. Building a Cache</a>"</span>)
    fmt.Println(<span class="code-string">"<a href="https://www.youtube.com/watch?v=V34eQsmovNY" class="code-string-link">02. Concurrent Polling</a>"</span>)
    fmt.Println(<span class="code-string">"<a href="https://www.youtube.com/watch?v=cCmx-UDkGos" class="code-string-link">01. Getting Started</a>"</span>)
    <span class="cursor">&nbsp;</span>
}
    </code>
  </pre>
</section>

{{ partial "gopher_footer.html" .}}
